<div>

  <div class="container clue-list-container">
    <div class="row clue-list-row" *ngFor="let clue of Clues;">

      <div
           class="clue-list-word-wrap clue-list-column col-4"
           [ngClass]="{
            'col-sm-3 col-md-3' : !ReadOnly,
            'col-sm-5 col-md-5' : ReadOnly
           }"
           >
        <span class="player-name-cell just-one-apply-player-color"
              [ngClass]="PlayerNumberCss.GetClass(clue.playerNumber)">{{clue.playerName}}</span>
      </div>

      <div
           class="clue-list-word-wrap clue-list-column col-sm-6"
           [ngClass]="{
            'col-4 col-md-3' : !ReadOnly,
            'col-7 col-md-6' : ReadOnly
           }"
           >
        <span class="clue-word clue-list-word-wrap" [ngClass]="{
                  'clue-invalid' : clue.responseInvalid,
                  'clue-valid' : !clue.responseInvalid
                }">
          {{clue.response}}
        </span>
      </div>

      <div *ngIf="!ReadOnly"
           class="clue-list-column clue-list-switch"
           [ngClass]="{
            'col-4 col-sm-3' : !ReadOnly,
            'col-1' : ReadOnly
           }">
        <tristate-switch [TristateSwitchHandler]="ValiditySwitchHandler(clue)">
        </tristate-switch>
      </div>


    </div>
  </div>

 </div>
