
.clue-invalid {
  text-decoration: line-through;
}

.clue-word.clue-invalid {
  color: lightgray;
}

.clue-word {
  font-weight: bold;
  word-wrap: break-word;
}

.clue-list-container{
    padding-left: 5px;
    padding-right: 5px;
}

.clue-list-column {
    padding-left: 10px;
    padding-right: 0px;
}

.clue-list-word-wrap {  
  word-break: break-word;
}

.clue-list-row{
    margin-bottom: 10px;
}

.clue-list-wrap-row{

}
