<div class="container clue-list-container">
  <div class="row clue-list-row" *ngFor="let clue of Clues;">

    <div class="clue-list-wrap-row row"
         [ngClass]="{
            'col-8 col-sm-9 col-md-7 col-lg-6 col-xl-5' : !ReadOnly,
            'col-11' : ReadOnly
           }">

      <div class="clue-list-column clue-list-word-wrap"
           [ngClass]="{
            'col-sm-4 col-md-5' : !ReadOnly,
            'col-4 col-sm-5 col-md-3 col-lg-2' : ReadOnly
           }">
        <span class="player-name-cell just-one-apply-player-color"
              [ngClass]="PlayerNumberCss.GetClass(clue.playerNumber)"><span [ngClass]="{'clue-invalid' : clue.responseInvalid && !clue.response }">{{clue.playerName}}</span></span>
      </div>

      <div class="clue-list-word-wrap clue-list-column col-sm-8"
           [ngClass]="{
            'col-md-7' : !ReadOnly,
            'col-8 col-md-6' : ReadOnly
           }">
        <span class="clue-word clue-list-word-wrap" [ngClass]="{
                  'clue-invalid' : clue.responseInvalid,
                  'clue-valid' : !clue.responseInvalid
                }">
          {{clue.response}}
        </span>
      </div>

    </div>

    <div *ngIf="!ReadOnly"
         class="clue-list-column clue-list-switch"
         [ngClass]="{
            'col-4 col-sm-3 col-md-5 col-lg-6 col-xl-7' : !ReadOnly,
            'col-1' : ReadOnly
           }">
      <tristate-switch [TristateSwitchHandler]="ValiditySwitchHandler(clue)">
      </tristate-switch>
    </div>

  </div>
</div>
