/*

  .clue-word.clue-invalid {
    text-decoration: line-through;
    color: lightgray;
  }

  .clue-word.clue-valid {
  }

.clue-word-cell {
  word-wrap: break-word;
}

.player-name-cell{
    word-wrap: normal;
}

.player-table {
    overflow-wrap: break-word;
  word-wrap: break-word;
}*/


/*.clue-list-table{
    margin: 0px;
    padding: 0px;
}
.clue-list-table .clue-col {
  padding-right: 5px;
  padding-left: 0px;
}

.clue-list-row {
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
}

.clue-col-name{
    width: 33%;
}

.clue-col-response{
    width: 66%
}

.clue-list-content {
  width: 70%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  margin: 0px;
  padding: 0px;
}*/

/*.clue-list-content div {
  max-width: 33%;
  overflow-wrap: break-word;
  word-wrap: break-word;
}*/

/*.clue-list-switch {
  min-width: 100px;
  width: 30%;
}*/

/*.player-table td {
}*/

.clue-word.clue-invalid {
  text-decoration: line-through;
  color: lightgray;
}

.clue-word {
  font-weight: bold;
  word-wrap: break-word;
}

.clue-list-container{
    padding-left: 5px;
    padding-right: 5px;
}

.clue-list-column {
    padding-left: 10px;
    padding-right: 0px;
}

.clue-list-word-wrap {
  /*overflow-wrap: break-word;*/
  word-break: break-word;
}

.clue-list-row{
    margin-bottom: 10px;
}
