<div class="loading" *ngIf="Loading && !ErrorMessage">
  I am loading...
</div>
<div>
  <div *ngIf="!Loading">
    <span>Waiting for other players to vote on invalid clues</span>
  </div>
  <app-just-one-playerwaiting-component [playerWaitingComponent]="this"></app-just-one-playerwaiting-component>

  <div *ngIf="!Loading">
    <button [disabled]="DisableButtons" class="btn btn-primary" (click)="Undo()">Undo</button>
  </div>
</div>

<div *ngIf="ErrorMessage" class="alert alert-danger" role="alert">{{ErrorMessage}}</div>
