<div class="loading" *ngIf="Loading && !ErrorMessage">
  I am loading...
</div>
<div *ngIf="!Loading">
  <div>
    <gg-emoji [emoji]="ActivePlayerEmoji"></gg-emoji>
    <span [ngClass]="PlayerNumberCss.GetClass(ActivePlayerNumber)" class="just-one-apply-player-color"> {{ActivePlayerName}}</span> is the active player
  </div>
  <div>
    Their word was:
  </div>
  <div class="just-one-important-word">
    {{WordToGuess}}
  </div>

  <div>
    <p>
      <span>They guessed</span>
    </p>
    <p class="just-one-important-word">{{ResponseWord}}</p>
    <p>
      <span>This wasn't automatically correct. Please vote on whether it was actually:</span>
    </p>
  </div>
  <div>
    <button [disabled]="DisableButtons" class="btn btn-primary" (click)="VoteCorrect()">Correct</button>
  </div>
  <div>
    <button [disabled]="DisableButtons" class="btn btn-primary" (click)="VoteIncorrect()">Incorrect</button>
  </div>
</div>

<div *ngIf="ErrorMessage" class="alert alert-danger" role="alert">{{ErrorMessage}}</div>
