.word-box {
  width: 100%;
  font-size: 1rem;
  min-height: 56px;
  margin-top: 10px;
}

.clue-buttons {
  margin-top: 20px;  
}

.clue-delete-button {
  display: flex;
  width: 50%;
  justify-content: flex-start;
}

.clue-back-button {
  display: flex;
  width: 50%;
  justify-content: flex-end;
}
