<div *ngIf="ErrorMessage" class="alert alert-danger gg-error-message" role="alert">{{ErrorMessage}}</div>

<div *ngIf="!Loading" class="night-secret-content">

  <div>
    <span *ngIf="IsMayor">You are</span>
    <span *ngIf="!IsMayor">{{MayorName}} is</span>
    <span> the Mayor!</span>
  </div>

  <div class="secret-block" [ngClass]="{
       'hidden-block' : SecretRoleHidden,
       'visible-block' : !SecretRoleHidden
       }"
       (mousedown)="show()" (mouseup)="hide()" (touchstart)="show()" (touchend)="hide()">
    <span class="secret-hidden" *ngIf="SecretRoleHidden">?</span>
    <p class="secret-visible" *ngIf="!SecretRoleHidden">{{SecretRoleDescription}}</p>
    <p class="secret-visible" *ngIf="!SecretRoleHidden && KnowledgeAboutOtherPlayers">{{KnowledgeAboutOtherPlayers}}</p>
  </div>
  <div class="secret-hint-text">
    Touch to reveal your secret role
  </div>

  <button class="btn btn-primary" [disabled]="!ButtonsEnabled || WaitingForMayor" (click)="Continue()">
    <span *ngIf="!WaitingForMayor">Continue</span>
    <span *ngIf="WaitingForMayor">Waiting for Mayor {{MayorName}}</span>
  </button>

</div>
