<div *ngIf="ErrorMessage" class="alert alert-danger gg-error-message" role="alert">{{ErrorMessage}}</div>

<div *ngIf="!Loading" class="night-secret-content">

  <div>
    <span *ngIf="IsMayor">You are</span>
    <span *ngIf="!IsMayor">{{MayorName}} is</span>
    <span> the Mayor!</span>
  </div>

  <div class="secret-block" [ngClass]="{
       'hidden-block' : SecretWordHidden,
       'visible-block' : !SecretWordHidden
       }"
       (mousedown)="show()" (mouseup)="hide()" (touchstart)="show()" (touchend)="hide()">
    <span class="secret-hidden" *ngIf="SecretWordHidden">?</span>
    <span class="secret-visible" *ngIf="!SecretWordHidden">{{SecretWord}}</span>
  </div>
  <div class="secret-hint-text">
    Touch to reveal the secret word<br/>
    If you are a Villager, this will appear blank
  </div>

  <button class="btn btn-primary" [disabled]="DisableButtons" (click)="WakeUp()">
    <span>Wake Up!</span>
  </button>

</div>
