<div *ngIf="ErrorMessage" class="alert alert-danger gg-error-message" role="alert">{{ErrorMessage}}</div>

<div *ngIf="!Loading" class="night-secret-content">

  <div>
    <span *ngIf="IsMayor"><gg-emoji [emoji]="MayorEmoji"></gg-emoji> You are</span>
    <span *ngIf="!IsMayor"><gg-emoji [emoji]="MayorEmoji"></gg-emoji> {{MayorName}} is</span>
    <span> the Mayor!</span>
  </div>

  <div class="secret-block" [ngClass]="{
       'hidden-block' : SecretWordHidden,
       'visible-block' : !SecretWordHidden
       }"
       (mousedown)="show()" (mouseup)="hide()" (touchstart)="show()" (touchend)="hide()">
    <span class="secret-hidden" *ngIf="SecretWordHidden">?</span>
    <span class="secret-visible" *ngIf="!SecretWordHidden">{{SecretWord}}</span>
  </div>
  <div class="secret-hint-text">
    Touch to reveal the secret word<br />
    If you are a Villager, this will appear blank<br />
    You must look at it anyway to allow werewolves to go undetected during this phase.
  </div>

  <button class="btn btn-primary" [disabled]="DisableButtons || !SecretWordViewed" (click)="WakeUp()">
    <span *ngIf="SecretWordViewed">Wake Up!</span><span *ngIf="!SecretWordViewed"><gg-emoji emoji="⬆️"></gg-emoji></span>
  </button>

</div>
