<div class="container table-view">


  <div class="table-player-container">

    <div *ngFor="let player of Players;" class="row">
      <div class="player-row real-player">
        <div class="row" *ngIf="!player.loadingPlayer && player.player">
          <div class="col-5">
            <span class="player-name"><gg-emoji [emoji]="player.player.emoji"></gg-emoji> {{player.player.name}}</span>
          </div>
          <div class="col-7 player-cards-container">
            <div *ngFor="let playerCard of player.cards;let i = index;" class="player-card" [ngClass]="{
                 'player-shown-card' : shownCard(player, i),
                 'player-hidden-card' : hiddenCard(player, i),
                 'bonus-card' : playerCard.bonusLetter
                 }">
              <div *ngIf="shownCard(player, i)">
                <div *ngIf="player.loadingCard">
                  .
                </div>
                <div *ngIf="!player.loadingCard && player.currentLetter">
                  {{player.currentLetter.letter}}
                </div>
              </div>
              <div *ngIf="hiddenCard(player, i)">

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="player.loadingPlayer">
        Loading...
      </div>
    </div>
    <div *ngFor="let player of NonPlayerCharacters;" class="row">
      <div class="player-row non-player-character">
        <div class="row" *ngIf="!player.loadingPlayer && player.player">
          <div class="col-5">
            <span class="player-name"><gg-emoji [emoji]="player.player.emoji"></gg-emoji> {{player.player.name}}</span>
          </div>
          <div class="col-7 player-cards-container">

            <div class="player-card player-shown-card non-player-card">
              <div *ngIf="!player.loadingCard && player.currentLetter">
                {{player.currentLetter.letter}}
              </div>
            </div>

            <div *ngIf="player.numberOfLettersRemaining && player.numberOfLettersRemaining - 1" class="player-card player-hidden-card npc-hidden-cards">
              {{player.numberOfLettersRemaining - 1}}
            </div>

            <div *ngIf="!player.clueReleased" class="token-display-item npc-locked-clue">
              <div class="token green-token locked-token">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row token-box">
      <div>
        Tokens:
      </div>
      <div class="token-display" *ngIf="TableData">
        <div class="token-display-item red-tokens-display">
          <div class="token red-token">
          </div>
          <div class="token-amount">
            {{TableData.redCluesRemaining}}
          </div>
        </div>
        <div class="token-display-item green-tokens-display">
          <div class="token green-token">
          </div>
          <div class="token-amount">
            {{TableData.greenCluesRemaining}}
          </div>
        </div>
        <div class="token-display-item locked-tokens-display">
          <div class="token green-token locked-token">
          </div>
          <div class="token-amount">
            {{TableData.lockedCluesRemaining}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
