.table-view{

}

.table-player-container{

}

.player-row {
    width: 100%;
}

.real-player{

}

.non-player-character {

}

/*.player-card-container:not(:first-child) {
  margin-left: -0.5em;
  z-index: 0;
}
.player-card-container:first-child {  
  z-index: 1;
}*/

.player-shown-card {  
}
.player-hidden-card {
  background: #000;
  border-color: #ddd;
}

.npc-hidden-cards{
    color: #fff;
}

.token-box {
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
  font-weight: bold;
}

.token-display{
    display: flex;
    flex-direction: row;
}
.token-display-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    

}

.red-tokens-display {

}
.green-tokens-display {

}
.locked-tokens-display {

}
.npc-locked-clue{
    margin-left: 0.5em;
}

.token{
    border-radius: 50%;
    height: 0.7em;
    width: 0.7em;
}

.red-token{
    background: #f33;
}


.green-token{
    background: #3f3;
}

.locked-token{
    opacity: 0.5;
    border: 1px solid #333
}

.token-amount{
    margin-left: 0.5em;
    margin-right: 1em;
}

