<form *ngIf="ForPlayer">
  <div class="alert alert-info">
    Please submit a {{NumberOfLetters}} letter word for <gg-emoji [emoji]="ForPlayer.emoji"></gg-emoji> {{ForPlayer.name}}
  </div>
  <div>
    <input id="lj-initial-word" [(ngModel)]="Word" name="lj-initial-word" 
               oninput="this.value = this.value.toUpperCase()" />
  </div>
  <div>
    <button class="btn btn-primary" type="submit" [disabled]="!ButtonsEnabled" (click)="SubmitWord()">Submit Word</button>
  </div>
</form>
<div>
  <button class="btn btn-primary" type="button" [disabled]="!ButtonsEnabled" (click)="GetRandomWord()">Random Word</button>
</div>
<div class="alert alert-danger mt-2" *ngIf="ErrorMessage">
  {{ErrorMessage}}
</div>
