/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
  margin-top: 10px;
}

.just-one-important-word {
  font-size: 32px;
  font-weight: bold;
}

.just-one-touch-area {
  padding-top: 30px;
  padding-bottom: 30px;
}

.just-one-player-1.just-one-apply-player-color {
  color: red;
}

.just-one-player-2.just-one-apply-player-color {
  color: orange;
}

.just-one-player-3.just-one-apply-player-color {
  color: green;
}

.just-one-player-4.just-one-apply-player-color {
  color: blue;
}

.just-one-player-5.just-one-apply-player-color {
  color: purple;
}

.just-one-player-6.just-one-apply-player-color {
  color: hotpink;
}

.just-one-player-7.just-one-apply-player-color {
  color: black;
}
