<div class="container">

  <div class="row player-box">

    <div class="player-name-container col-4">
      <span class="player-name">Nathan</span>
    </div>

    <div class="hand col-4">
      <div class="game-card card-in-hand">
        <span></span>
      </div>
      <div class="game-card card-in-hand">
        <span></span>
      </div>
      <div class="game-card card-in-hand">
        <span></span>
      </div>
    </div>

    <div class="play-area col-4">
      <div class="game-card card-played card-7">
        <span class="game-card-number">7</span>
      </div>

      <!--<div class="game-card card-played card-transparent"><span>=</span></div>

      <div class="game-card card-played card-6">
        <span class="game-card-number">6</span>
      </div>-->

    </div>

  </div>

  <div class="row player-box">

    <div class="player-name-container col-4">
      <span class="player-name">Lauren</span>
    </div>

    <div class="hand col-4">
      <div class="game-card card-in-hand">
        <span></span>
      </div>
      <div class="game-card card-in-hand">
        <span></span>
      </div>
      <div class="game-card card-in-hand">
        <span></span>
      </div>
      <div class="game-card card-in-hand">
        <span></span>
      </div>
      <div class="game-card card-in-hand">
        <span></span>
      </div>
      <div class="game-card card-in-hand">
        <span></span>
      </div>
    </div>

    <div class="play-area col-4">
      <div class="game-card card-played card-2">
        <span class="game-card-number">2</span>
      </div>

      <div class="game-card card-played card-transparent"><span>=</span></div>

      <div class="game-card card-played card-6">
        <span class="game-card-number">6</span>
      </div>

    </div>

  </div>

  <div class="row player-box">

    <div class="player-name-container col-4">
      <span class="player-name">Greg</span>
    </div>

    <div class="hand col-4">
      <div class="game-card card-in-hand">
        <span></span>
      </div>
      <div class="game-card card-in-hand">
        <span></span>
      </div>
      <div class="game-card card-in-hand">
        <span></span>
      </div>
      <div class="game-card card-in-hand">
        <span></span>
      </div>
    </div>

    <div class="play-area col-4">
      <div class="game-card card-played card-2">
        <span class="game-card-number">2</span>
      </div>

      <div class="game-card card-played card-transparent"><span>=</span></div>

      <div class="game-card card-played card-6">
        <span class="game-card-number">6</span>
      </div>

    </div>

  </div>

  <div class="row player-box">

    <div class="player-name-container col-4">
      <span class="player-name">Beccaroon</span>
    </div>

    <div class="hand col-4">
      <div class="game-card card-in-hand">
        <span></span>
      </div>
      <div class="game-card card-in-hand">
        <span></span>
      </div>
      <div class="game-card card-in-hand">
        <span></span>
      </div>
      <div class="game-card card-in-hand">
        <span></span>
      </div>
    </div>

    <div class="play-area col-4">
      <div class="game-card card-played card-2">
        <span class="game-card-number">2</span>
      </div>

      <div class="game-card card-played card-transparent"><span>=</span></div>

      <div class="game-card card-played card-6">
        <span class="game-card-number">6</span>
      </div>

    </div>

  </div>

  <div class="row player-box current-player">

    <div class="player-name-container col-4">
      <span class="player-name">Silly name david</span>
    </div>

    <div class="hand col-4">
      <div class="game-card card-in-hand">
        <span></span>
      </div>
      <div class="game-card card-in-hand">
        <span></span>
      </div>
      <div class="game-card card-in-hand">
        <span></span>
      </div>
      <div class="game-card card-in-hand">
        <span></span>
      </div>
    </div>

    <div class="play-area col-4">
      <!--<div class="game-card card-played card-2">
        <span class="game-card-number">2</span>
      </div>

      <div class="game-card card-played card-transparent"><span>=</span></div>

      <div class="game-card card-played card-6">
        <span class="game-card-number">6</span>
      </div>-->

    </div>

  </div>

</div>

<div class="personal-play-area">

  <div class="container">
    <div class="row">
      <div class="col-sm-1 col-md-3"></div>
      <div class="personal-hand col-12 col-sm-10 col-md-6">
        <div class="game-card personal-hand-card card-2">
          <span class="game-card-number">2</span>
        </div>
        <div class="game-card personal-hand-card personal-hand-card-selected card-12">
          <span class="game-card-number">12</span>
        </div>
        <div class="game-card personal-hand-card card-2">
          <span class="game-card-number">2</span>
        </div>
        <div class="game-card personal-hand-card card-19">
          <span class="game-card-number">19</span>
        </div>
      </div>
      <div class="col-sm-1 col-md-3"></div>
    </div>
  </div>
  

</div>
