<div>
  <p>
    This online version of Fuji Flush is not affiliated in any way with the real physical board game <span style="font-weight: bold">Fuji Flush</span> or it's publishers <span style="font-weight: bold">Stronghold Games</span>.<br />
    If you enjoy it, and are lucky enough to be able to play the game in person with local humans, please consider supporting the game by buying it from your local board game shop or
    a specialist online board game retailer:
    <br />
    <a href="http://strongholdgames.com/our-games/fuji-flush/">
      Fuji Flush
    </a>
  </p>
</div>
<div>
  <button class="btn btn-primary" (click)="Continue()">Continue</button>
</div>
