<!--<div *ngIf="CanRejoin">
  <button class="btn btn-primary" style="margin-bottom: 10px;" [disabled]="DisableButtons" (click)="RejoinExistingGame()">Rejoin Existing Game</button>
</div>-->
<div>
  Enter a game identifier:
</div>
<div>
  <input #password />
</div>
<div>
  <button class="btn btn-primary" [disabled]="DisableButtons" (click)="JoinGame(password.value)">Enter Game</button>
</div>
<div *ngIf="ErrorMessage" class="alert alert-danger" role="alert">{{ErrorMessage}}</div>
<div>
  <br />
  <span>
    To create or join a game, enter a word to identify your game
    <br />(i.e. <span style="font-weight: bold">DirdlimNosbod</span> or <span style="font-weight: bold">COVID19</span>)
    <br />then press <span style="font-weight: bold">Enter Game</span>.
    <br />Share this identifier with your friends to get them to join with you!
  </span>
  <br />
</div>
