<div class="fuji-main">
  <div class="container players-area">


    <div class="row player-box" *ngFor="let player of Players;" [ngClass]="{
       'fuji-active-player' : player.isActivePlayer,
       'fuji-current-player' : player.id == PlayerId
       }">

      <div class="player-name-container col-4">
        <span class="player-name">{{player.name}}</span>
      </div>

      <div class="hand col-4">

        <div class="game-card card-in-hand" *ngFor="let card of player.hand.cards">

        </div>

      </div>


      <div class="play-area col-4" *ngIf="player.playedCard">

        <div class="game-card card-played" *ngIf="player.playedCard" [ngClass]="CardNumberCss.ResolveCardClass(player.playedCard.faceValue)">
          <span class="game-card-number">{{player.playedCard.faceValue}}</span>
        </div>

        <div *ngIf="player.playedCard.combinedValue" class="fuji-combined-card-container remove-ws">
          <div class="game-card card-played card-transparent"><span>=</span></div>

          <div class="game-card card-played" [ngClass]="CardNumberCss.ResolveCardClass(player.playedCard.combinedValue)">
            <span class="game-card-number">{{player.playedCard.combinedValue}}</span>
          </div>

        </div>

      </div>

    </div>
  </div>

  <div class="filler">

  </div>

  <div class="personal-play-area">

    <div class="container">
      <div class="row">
        <div class="col-sm-1 col-md-3"></div>

        <div class="personal-hand col-12 col-sm-10 col-md-6">

          <div *ngFor="let card of Player.hand.cards;"
               class="personal-hand-card-container"
               [ngClass]="{
                'personal-hand-card-selected' : card.selected
               }"
               (click)="CardSelected(card)">
            <div class="game-card personal-hand-card"
                 [ngClass]="CardNumberCss.ResolveCardClass(card.faceValue)">
              <span class="game-card-number">{{card.faceValue}}</span>
            </div>
          </div>


        </div>

        <div class="col-sm-1 col-md-3"></div>
      </div>
    </div>
  </div>
</div>
