/*.cont {
  background: #ddd;
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  padding: 3em;
  box-sizing: border-box;
}*/

.game-card {
  background: #fff;
  width: 1.5em;
  height: 2em;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  border-color: #000;
  text-align: center;
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);
}

.player-box {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  border-style: solid;
  border-color: black;
  border-width: 0.1em;
  border-radius: 10px;
  padding: 0.2em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  background: #fcfcf7;
}

  .player-box.fuji-current-player {
    /*background: rgba(235,224,157,1)*/;
  }

    .player-box.fuji-current-player .player-name {
      font-weight: bold;
    }

  .player-box.fuji-active-player {
    box-shadow: inset 0px 0px 4px 4px rgba(88,120,34,1);
    border-color: transparent;
    border-width: 0px;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
  }

.player-name-container {
  padding-left: 5px;
  padding-right: 5px;
}

.player-name {
  word-break: break-word;
  vertical-align: middle;
}

.hand {
  display: flex;
  flex-direction: row;
  padding-left: 5px;
  padding-right: 5px;
  align-items: center;
}

.card-in-hand {
  background: rgba(88,120,34,1);
  background: radial-gradient(circle, rgba(235,224,157,1) 0%, rgba(88,120,34,1) 54%);
}

.card-transparent {
  background: transparent;
  box-shadow: none;
  border-style: none;
  width: 1em;
  text-align: center;
}

.play-area {
  display: flex;
  flex-direction: row;
  padding-left: 5px;
  padding-right: 5px;
  align-items: center;
}

.filler {
  height: 112px;
}

.fuji-combined-card-container {
  display: flex;
  flex-direction: row;
}

div.remove-ws {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.game-card-number {
  font-size: 1.2em;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}


.card-played {
}


.card-in-hand:not(:first-child) {
  margin-left: -0.5em;
}

/* #ebe09d */


.players-area {
  margin: 0;
}

.personal-play-area {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 112px;
}

  .personal-play-area .container {
    height: 100%;
  }

  .personal-play-area .row {
    height: 100%;
  }

.personal-hand {
  background: #fcfcf7;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  border-top: 1px solid gray;
}

.personal-hand-card {
  height: 5em;
  width: 3.52em;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
}

  .personal-hand-card .game-card-number {
    font-size: 2.3em;
  }

.personal-hand-card-container:not(:first-child) {
  margin-left: -0.4em;
}

.personal-hand-card-selected {
  margin-left: 0em;
  margin-top: -2em;
  z-index: 1;
}


.active-player-played-card-area {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(200, 200, 200, 0.8)
}

  .active-player-played-card-area .player-name-container{
      font-size: 1.2em;
      font-weight: bold;
      text-align: center;
  }

  .active-player-played-card-area .player-box {
    padding: 2em;
    padding-top: 1em;
  }
  .active-player-played-card {
    height: 10em;
    width: 7em;
  }

.active-player-played-card {
  height: 10em;
  width: 7em;
}

  .active-player-played-card .game-card-number {
    font-size: 3em;
  }

.fuji-winners {
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    font-size: 2em;
}

.fuji-winner-text{
    text-align: center;
}

.fuji-card-2 {
  background: #066561;
  background: radial-gradient(circle, rgba(235,224,157,1) 0%, #066561 80%);
}

.fuji-card-3 {
  background: #417899;
  background: radial-gradient(circle, rgba(235,224,157,1) 0%, #417899 80%);
}

.fuji-card-4 {
  background: #0977a7;
  background: radial-gradient(circle, rgba(235,224,157,1) 0%, #0977a7 80%);
}

.fuji-card-5 {
  background: #475798;
  background: radial-gradient(circle, rgba(235,224,157,1) 0%, #475798 80%);
}

.fuji-card-6 {
  background: #3f2866;
  background: radial-gradient(circle, rgba(235,224,157,1) 0%, #3f2866 80%);
}


.fuji-card-7 {
  background: #6f1e53;
  background: radial-gradient(circle, rgba(235,224,157,1) 0%, #6f1e53 80%);
}

/* colours taken from this website https://cf.geekdo-images.com/medium/img/1hDmGmPEEP67cK2AmV603RBQGx8=/fit-in/500x500/filters:no_upscale()/pic3280032.jpg */
/* using https://imagecolorpicker.com/en/*/
.fuji-card-8 {
  background: #931b52;
  background: radial-gradient(circle, rgba(235,224,157,1) 0%, #931b52 80%);
}

.fuji-card-9 {
  background: #ae1b49;
  background: radial-gradient(circle, rgba(235,224,157,1) 0%, #ae1b49 80%);
}

.fuji-card-10 {
  background: #dd1250;
  background: radial-gradient(circle, rgba(235,224,157,1) 0%, #dd1250 80%);
}

.fuji-card-11 {
  background: #da1426;
  background: radial-gradient(circle, rgba(235,224,157,1) 0%, #da1426 80%);
}

.fuji-card-12 {
  background: #dc1f1e;
  background: radial-gradient(circle, rgba(235,224,157,1) 0%, #dc1f1e 80%);
}

.fuji-card-13 {
  background: #e14121;
  background: radial-gradient(circle, rgba(235,224,157,1) 0%, #e14121 80%);
}

.fuji-card-14 {
  background: #c35418;
  background: radial-gradient(circle, rgba(235,224,157,1) 0%, #c35418 80%);
}

.fuji-card-15 {
  background: #bb7811;
  background: radial-gradient(circle, rgba(235,224,157,1) 0%, #bb7811 80%);
}

.fuji-card-16 {
  background: #dab72b;
  background: radial-gradient(circle, rgba(235,224,157,1) 0%, #dab72b 80%);
}

.fuji-card-17 {
  background: #ada425;
  background: radial-gradient(circle, rgba(235,224,157,1) 0%, #ada425 80%);
}

.fuji-card-18 {
  background: #777f1d;
  background: radial-gradient(circle, rgba(235,224,157,1) 0%, #777f1d 80%);
}

.fuji-card-19 {
  background: #375418;
  background: radial-gradient(circle, rgba(235,224,157,1) 0%, #375418 80%);
}

.fuji-card-20 {
  background: #145227;
  background: radial-gradient(circle, rgba(235,224,157,1) 0%, #145227 80%);
}
