<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">

      <div *ngIf="NavbarService.isReadOnly" class="navbar-brand">
        <span>GooseGames</span>
      </div>
      <a *ngIf="!NavbarService.isReadOnly" class="navbar-brand" [routerLink]="['/']">
        GooseGames
      </a>

      <button *ngIf="!NavbarService.isReadOnly"
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded && !NavbarService.isReadOnly"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div *ngIf="!NavbarService.isReadOnly" class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
           [ngClass]="{ show: isExpanded && !NavbarService.isReadOnly}">
        <ul *ngIf="!NavbarService.isReadOnly" class="navbar-nav flex-grow">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a *ngIf="!NavbarService.isReadOnly" class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>
          <!--<li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/counter']"
              >Counter</a
            >
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/fetch-data']"
              >Fetch data</a
            >
          </li>-->
        </ul>
      </div>
    </div>
  </nav>
  <div class="container nav-bar-area-title" [ngClass]="{
      'nav-bar-area-content' : ComponentSet,
       'nav-bar-area-content-unset' : !ComponentSet
       }">
    <ng-template navbar-header></ng-template>
  </div>
  <div *ngIf="!ComponentSet && NavbarService.AreaTitle" class="container nav-bar-area-title">
    {{NavbarService.AreaTitle}}
  </div>
</header>
