
<div class="letter-box letter-display">
  <div *ngFor="let letter of RelevantLetters;" class="letter-display-item">

    <gg-emoji [emoji]="letter.player?.emoji"
              (mousedown)="show(letter.playerId)" (mouseup)="hide()" (touchstart)="show(letter.playerId)" (touchend)="hide()"></gg-emoji>

    <button class="player-card player-shown-card"  [ngClass]="{
         'non-player-card' : letter.nonPlayerCharacterId,
         'bonus-card' : letter.bonusLetter
         }"
        (click)="AddLetterToWord(letter)">
      <span *ngIf="!(ShowAsPlayerId && ShowAsPlayerId === letter.player?.id)">{{letter.letter}}</span>
      <span *ngIf="(ShowAsPlayerId && ShowAsPlayerId === letter.player?.id)">?</span>
    </button>

  </div>

  <div class="letter-display-item">

    <gg-emoji [emoji]="null"></gg-emoji>

    <button class="player-card player-shown-card delete-card" (click)="DeleteLastLetter()">
      <gg-emoji emoji="⬅️"></gg-emoji>
    </button>

  </div>
</div>

<div class="word-box letter-display">
  <div *ngFor="let letter of BuiltWord;" class="letter-display-item">

    <gg-emoji [emoji]="letter.player?.emoji"
              (mousedown)="show(letter.playerId)" (mouseup)="hide()" (touchstart)="show(letter.playerId)" (touchend)="hide()"></gg-emoji>

    <div class="player-card player-shown-card" [ngClass]="{
         'non-player-card' : letter.nonPlayerCharacterId,
         'bonus-card' : letter.bonusLetter
         }">
      <span *ngIf="!(ShowAsPlayerId && ShowAsPlayerId === letter.player?.id)">{{letter.letter}}</span>
      <span *ngIf="(ShowAsPlayerId && ShowAsPlayerId === letter.player?.id)">?</span>
    </div>

  </div>
  <div class="letter-display-item">

    <gg-emoji [emoji]="null"></gg-emoji>

    <div class="player-card player-shown-card caret">

    </div>

  </div>
</div>


<div class="view-as-box">
  <span>Click a letter to add it to the word</span><br/>
  <span>Click a player's Emoji to see what they'd see</span>
</div>

<div class="row buttons-box">
  <div class="col-6 back-container">
    <button class="btn btn-secondary back-button" (click)="Back()">
      Cancel
    </button>
  </div>
  <div class="col-6 submit-container">
    <button class="btn btn-primary submit-button" (click)="SubmitClue()">
      Submit
    </button>
  </div>
</div>
