.player-secret-info {
  border-style: solid;
  border-width: 3px;
  border-radius: 6px;
  border-color: #555;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
}

.player-name{
    font-weight: bold;
}
