<button class="btn btn-primary mb-3" (click)="OnShowSecretInfoClick()">
  <span *ngIf="ShowSecretInfo">Hide Secret Info</span>
  <span *ngIf="!ShowSecretInfo">Show Secret Info</span>
</button>

<div *ngIf="ShowSecretInfo" class="mb-2">
  <div *ngFor="let player of Players" class="player-secret-info">
    <div *ngIf="player.player" class="player-name"><gg-emoji [emoji]="player.player.emoji"></gg-emoji><span> {{player.player.name}}</span></div>

    <avalon-role-info [parameters]="{
                        role: player.role,
                        showWeight: false
                      }"></avalon-role-info>

    <div *ngFor="let intel of player.playerIntel">
      <div class="pl-2">
        <span *ngIf="intel.intelType === 2">Your nearest evil neighbour is {{intel.intelNumber}} seats away</span>
        <span *ngIf="intel.intelPlayer"><gg-emoji [emoji]="intel.intelPlayer.emoji"></gg-emoji> {{intel.intelPlayer.name}}</span>
        <span *ngIf="intel.intelType === 1"> appears as evil</span>
        <span *ngIf="intel.intelType === 3">{{intel.roleName}} saw you as evil</span>
        <span *ngIf="intel.intelType === 4"> appears as good</span>
        <span *ngIf="intel.intelType === 6"> appears as Merlin</span>
        <span *ngIf="intel.intelType === 7"> is definitely evil</span>
        <span *ngIf="intel.intelType === 8"> is definitely good</span>
      </div>      
    </div>
  </div>

</div>

<h6>Roles in Play</h6>
<div *ngFor="let role of RolesInPlay">
  <avalon-role-info [parameters]="{
                        role: role,
                        showWeight: false
                      }"></avalon-role-info>
</div>
