<ng-template #content let-modal>
  <letterjam-clue-modal *ngIf="clueModalParameters" [parameters]="clueModalParameters" [templates]="{buttonsTemplate: buttonsTemplate}" [dismiss]="modal.dismiss" [title]="'Clue'">
  </letterjam-clue-modal>
</ng-template>

<ng-template #buttonsTemplate>
  <button class="btn btn-danger mr-auto" (click)="DeleteClue()">
    Delete Clue
  </button>
  <button class="btn btn-secondary" (click)="CloseClueModal()">
    Back
  </button>
</ng-template>

<div class="container proposed-clues">

  <div class="proposed-clues-container">

    <div class="alert alert-info" *ngIf="ProposedClues.length < 1 && RoundStatus == 1">
      No-one has proposed a clue yet!
    </div>
    <div class="alert alert-info" *ngIf="ProposedClues.length < 1 && RoundStatus == 2">
      A clue has already been given this round!
    </div>
    <div class="proposed-clue-header" *ngIf="ProposedClues.length > 0">
      <h5>Proposed Clues</h5>
    </div>

    <div *ngFor="let clue of ProposedClues;" class="proposed-clue-row" [ngClass]="{
          'voted' : clue.voted
         }" (click)="Vote(clue)">
      <div class="row" *ngIf="!clue.loadingPlayer && clue.player">
        <div class="col-6 clue-name">
          <span class="player-name"><gg-emoji [emoji]="clue.player.emoji"></gg-emoji> {{clue.player.name}}</span>
        </div>
        <div class="col-6 player-cards-container">

          <div class="player-card player-hidden-card">
            {{clue.numberOfLetters}}
          </div>

          <div class="player-card player-shown-card">
            {{clue.numberOfPlayerLetters}}
          </div>
          <div class="player-card player-shown-card non-player-card">
            {{clue.numberOfNonPlayerLetters}}
          </div>
          <div class="player-card player-shown-card bonus-card" *ngIf="numberOfBonusLetters">
            {{clue.numberOfBonusLetters}}
          </div>
          <div class="player-card player-shown-card wild-card" *ngIf="clue.wildcardUsed">
            *
          </div>
        </div>
      </div>
      <!--<div class="row" *ngIf="!clue.loadingPlayer && clue.myClue">
      <div class="col-6">
        <button class="btn btn-primary" (click)="OpenClue($event, clue, content)">
          More...
        </button>
      </div>
    </div>-->
      <div class="row" *ngIf="clue.loadingPlayer">
        <div class="col-12">
          Loading...
        </div>
      </div>
      <div class="row clue-votes-row">
        <div class="col-2">
          <button *ngIf="parameters.request.PlayerId === clue.playerId" class="btn btn-primary clue-info-button" (click)="OpenClue($event, clue, content)">
            <i class="fas fa-search"></i>
          </button>
        </div>
        <div class="col-4 votes-label">
          Votes:
        </div>
        <div class="col-6 clue-votes">
          <div *ngFor="let vote of clue.votes;">
            <gg-emoji [emoji]="vote?.player?.emoji"></gg-emoji>
          </div>
          <div *ngIf="clue.votes.length < 1">
            <gg-emoji [emoji]="null"></gg-emoji>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="filler"></div>
<div class="letter-box">
  <div class="container">
    <div class="row">

      <div class="col col-sm-1 col-md-3"></div>
      <div class="col-12 col-sm-10 col-md-6">
        <div>
          Available Letters:
        </div>
        <div class="letter-display" *ngIf="RelevantLetters">
          <div *ngFor="let letter of RelevantLetters;" class="letter-display-item">

            <div *ngIf="letter.player">
              <gg-emoji [emoji]="letter.player.emoji"></gg-emoji>
            </div>

            <div class="player-card player-shown-card" [ngClass]="{
         'non-player-card' : letter.nonPlayerCharacterId,
         'bonus-card' : letter.bonusLetter
         }">
              <div>
                {{letter.letter}}
              </div>
            </div>

          </div>
        </div>
        <div>
          <button class="btn btn-primary" (click)="ProposeClue()">
            Propose Clue
          </button>
        </div>
      </div>
      <div class="col col-sm-1 col-md-3"></div>
    </div>
  </div>
</div>
