<div class="container proposed-clues">

  <div class="proposed-clues-container">

    <div *ngIf="ProposedClues.length < 1">
      No-one has proposed a clue yet!
    </div>

    <div *ngFor="let clue of ProposedClues;" class="row proposed-clue-row">
      <div class="row" *ngIf="!clue.loadingPlayer && clue.player">
        <div class="col-5">
          <span class="player-name"><gg-emoji [emoji]="clue.player.emoji"></gg-emoji> {{clue.player.name}}</span>
        </div>
        <div class="col-7 clue-info-container">

        </div>
      </div>
      <div class="row" *ngIf="clue.loadingPlayer">
        Loading...
      </div>
    </div>
  </div>
</div>
<div class="letter-box">
  <div class="container">
    <div class="row">

      <div class="col col-sm-1 col-md-3"></div>
      <div class="col-12 col-sm-10 col-md-6">
        <div>
          Letters:
        </div>
        <div class="letter-display" *ngIf="RelevantLetters">
          <div *ngFor="let letter of RelevantLetters;" class="letter-display-item">

            <div *ngIf="letter.player">
              <gg-emoji [emoji]="letter.player.emoji"></gg-emoji>
            </div>

            <div class="player-card player-shown-card" [ngClass]="{
         'non-player-card' : letter.nonPlayerCharacterId,
         'bonus-card' : letter.bonusLetter
         }">
              <div>
                {{letter.letter}}
              </div>
            </div>

          </div>
        </div>
        <div>
          <button class="btn btn-primary" (click)="ProposeClue()">
            Propose Clue
          </button>
        </div>
      </div>
      <div class="col col-sm-1 col-md-3"></div>
    </div>
  </div>
</div>
