<div class="container">
  <div class="row">
    <div class="col-6 col-sm-4 home-page-button-host">
      <button class="btn btn-primary" [routerLink]="['/justone']">Just One (Beta)</button>
    </div>
    <div class="col-6 col-sm-4 home-page-button-host">
      <button class="btn btn-primary" [routerLink]="['/fujiflush']">Fuji Flush (Beta)</button>
    </div>
    <div class="col-6 col-sm-4 home-page-button-host">
      <button class="btn btn-primary" [routerLink]="['/werewords']">Werewords (Beta)</button>
    </div>
  </div>
</div>
