<div class="container">
  <div class="row">

    <div class="col-1 col-sm-2 col-med-3"></div>
    <div class="col-10 col-sm-8 col-med-6 gg-mission-statement">
      Online Board Games for the Socially Distant
    </div>
    <div class="col-1 col-sm-2 col-med-3"></div>
  </div>
  <div class="row">
    <div class="col-6 col-sm-4 home-page-button-host">
      <button class="btn gg-home-button" [routerLink]="['/justone']">
        <div class="button-content-host">
          <div class="game-name">Just One</div>
          <div class="player-count">3-7 Players</div>
          <div class="filler"></div>
          <div class="beta-tag-host"><div class="beta-tag">Beta</div></div>
        </div>
      </button>
    </div>
    <div class="col-6 col-sm-4 home-page-button-host">
      <button class="btn gg-home-button" [routerLink]="['/fujiflush']">
        <div class="button-content-host">
          <div class="game-name">Fuji Flush</div>
          <div class="player-count">3-8 Players</div>
          <div class="filler"></div>
          <div class="beta-tag-host"><div class="beta-tag">Beta</div></div>
        </div>
      </button>
    </div>
    <div class="col-6 col-sm-4 home-page-button-host">
      <button class="btn gg-home-button" [routerLink]="['/werewords']">
        <div class="button-content-host">
          <div class="game-name">Werewords</div>
          <div class="player-count">4-10 Players</div>
          <div class="filler"></div>
          <div class="beta-tag-host"><div class="beta-tag">Beta</div></div>
        </div>
      </button>
    </div>
    <div class="col-6 col-sm-4 home-page-button-host">
      <button class="btn gg-home-button" [routerLink]="['/letterjam']">
        <div class="button-content-host">
          <div class="game-name">Letter Jam</div>
          <div class="player-count">2-6 Players</div>
          <div class="filler"></div>
          <div class="beta-tag-host"><div class="beta-tag">Alpha</div></div>
        </div>
      </button>
    </div>
    <div class="col-6 col-sm-4 home-page-button-host">
      <button class="btn gg-home-button" [routerLink]="['/avalon']">
        <div class="button-content-host">
          <div class="game-name">Avalon</div>
          <div class="player-count">6-11 Players</div>
          <div class="filler"></div>
          <div class="beta-tag-host"><div class="beta-tag">Very Alpha</div></div>
        </div>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="get-in-touch">
      Happy Thoughts? Problems? <br/>Let us know at: <br/><a href="mailto:goldengoose@goosegames.co.uk">goldengoose@goosegames.co.uk</a>
    </div>
  </div>
</div>
