.player-table {
  /*padding-right: 15px;*/
}

  .player-table td {
    padding-right: 15px;
  }

  .player-table .player-name-cell{
      font-weight: bold;
  }
  
  tr.new-player td {
    color: lightgray;
  }

  .player-table response-given {

  }

  .player-table waiting-for-response{

  }


.just-one-config-area{
    margin-top: 1em;
}

.word-list-item {
  margin-bottom: 0.5em;
}
.cb-wordlist{

}

.cb-wordlist-label {

}


.wordlist-header{
    font-weight: bold;
    margin-bottom: 0.5em;
    font-size: 0.8em;
}
