.player-cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.player-card {
  background: #fff;
  width: 1.5rem;
  height: 2rem;
  font-size: 1rem;
  font-weight: bold;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  text-align: center;
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);
  border-color: #000;
}

