<div class="tristate-switch">
  <table>
    <tr>
      <td>
        <div [ngClass]="{
          'tristate' : AllowUnselected}">
          <button class="btn tristate-on"
                  (click)="OnClicked()"
                  [disabled]="ReadOnly"
                  [ngClass]="{
          'tristate' : AllowUnselected,
          'disabled' : ReadOnly,
          'selected' : Checked === true
          }">
            <i class="fas fa-check"></i>
          </button>
        </div>
      </td>
      <td [ngClass]="{
          'disabled' : !AllowUnselected
          }">
        <div [ngClass]="{
          'tristate' : AllowUnselected,
          'disabled' : !AllowUnselected
       }">
          <button class="btn tristate-unselected" (click)="UnselectedClicked()"
                  [disabled]="ReadOnly || !AllowUnselected"
                  [ngClass]="{
          'tristate' : AllowUnselected,
          'disabled' : ReadOnly || !AllowUnselected,
          'selected' : Checked === undefined
          }">
            <i class="fas fa-question"></i>
          </button>
        </div>
      </td>
      <td>
        <div [ngClass]="{
          'tristate' : AllowUnselected}">
          <button class="btn tristate-off" (click)="OffClicked()"
                  [disabled]="ReadOnly"
                  [ngClass]="{
          'tristate' : AllowUnselected,
          'disabled' : ReadOnly,
          'selected' : Checked === false
          }">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </td>
    </tr>
  </table>

</div>
