.tristate-switch {

}

.tristate-switch td{
    padding: 1px;
}

  .tristate-switch td.disabled {
    padding: 0;
  }

  .tristate-switch .btn:focus, .tristate-switch .btn:active:focus, .tristate-switch .btn.active:focus {
    outline: none;
    outline-style: none;
    box-shadow: none;
    box-shadow: none;
  }


.tristate-switch .btn.tristate-unselected:disabled {
  width: 0;
  height: 100%;
  padding: 0;
  margin: 0;
}

.tristate-switch div {
  /*display: inline-block;*/
  width: 40px;
}

  .tristate-switch div.disabled {
    width: 0%;
  }
/*.tristate-switch div.tristate {
  width: 33.3%;
}*/
.tristate-switch .btn {
  height: 100%;
  text-align: center;
  width: 40px;
}

  .tristate-switch .btn.tristate {
    height: 100%;
    border: 1px;
    text-align: center;
  }

  .tristate-switch .btn.tristate-unselected:disabled {
    width: 0;
    height: 100%;
    border: 0;
    text-align: center;
    background-color: none;
    color: none;
  }

    .tristate-switch .btn.tristate-unselected:disabled i {
      opacity: 0;
    }

  .tristate-switch .btn i {
    display: inline-block;
  }

  .tristate-switch .btn.selected {
    color: white;
  }

  .tristate-switch .btn.tristate-on {
    background-color: lightgray;
  }

  .tristate-switch .btn.tristate-off {
    background-color: lightgray;
  }

  .tristate-switch .btn.tristate-unselected {
    background-color: lightgray;
  }

  .tristate-switch .btn.selected.tristate-on {
    background-color: darkgreen;
  }

  .tristate-switch .btn.selected.tristate-unselected {
    background-color: darkgray;
  }

  .tristate-switch .btn.selected.tristate-off {
    background-color: darkred;
  }
