<div>
  <div *ngIf="RoundStarted || Voting" class="werewords-timer">
    <span>{{TimeMinutes}}</span>
    <span>:</span>
    <span>{{TimeSeconds}}</span>
  </div>
  <div *ngIf="!RoundStarted && IsMayor && !Voting && CurrentStatus === DayMayorStatus" class="start-button-container">
    <button class="btn btn-primary" (click)="Start()">Start</button>
  </div>
  <div *ngIf="!RoundStarted && !IsMayor && !Voting" class="start-button-container">
    Waiting for Mayor {{MayorName}} to start the day
  </div>
  <div *ngIf="Voting">
    <div>
      The secret word was
      <p class="secret-word">{{SecretWord}}</p>
    </div>
    <div *ngIf="CurrentStatus === VotingOnSeerStatus">
      <div *ngIf="IsWerewolf">
        <span>
          Click a player to vote them as seer.<br />
          You can change your mind up until the timer runs out.
        </span>
      </div>
      <div *ngIf="!IsWerewolf">
        Waiting for <span *ngFor="let werewolf of Werewolves; let last = last; let i = index"><span class="werewolf-name">{{werewolf.name}}</span><span *ngIf="!last"> and</span></span> to choose the Seer
      </div>
    </div>
    <div *ngIf="CurrentStatus === VotingOnWerewolfStatus">
      <span>
        Click a player to vote them as a werewolf.<br />
        You can change your mind up until the timer runs out.
      </span>
    </div>
  </div>
  <div class="werewords-day-container container">
    <div class="row" *ngFor="let player of Players;"
         (click)="VotePlayer(player)">
      <div class="werewords-day-row" *ngIf="!player.isHidden" [ngClass]="{
             'werewords-active-player' : player.active && !Voting,
             'werewords-voted-player' : player.isVoted
           }">
        <div class="container">
          <div class="row werewords-day-player-row">
            <div class="col-6 col-sm-5 col-md-4 werewords-day-player-name">
              <span *ngIf="player.isMayor">Mayor </span>
              <span [ngClass]="{
                  'werewolf-name' : player.secretRole === WerewolfSecretRole,
                  'werewords-current-player' : player.id.toLowerCase() === PlayerId.toLowerCase()
                  }">{{player.name}}</span>
            </div>
            <div class="col-6 col-sm-7 col-md-8 werewords-responses-container">
              <div *ngFor="let response of player.responses" class="werewords-response-container">
                <div class="player-response-icon-host"
                     [ngClass]="{
                   'werewords-tick' : response.responseType === TickResponseType,
                    'werewords-cross' : response.responseType === CrossResponseType,
                    'werewords-question' : response.responseType === QuestionMarkResponseType,
                    'werewords-soclose' : response.responseType === SoCloseResponseType,
                    'werewords-wayoff' : response.responseType === WayOffResponseType,
                    'werewords-correct' : response.responseType === CorrectResponseType
                   }">
                  <i class="fas" [ngClass]="{
                    'fa-check' : response.responseType === TickResponseType,
                    'fa-times' : response.responseType === CrossResponseType,
                    'fa-question' : response.responseType === QuestionMarkResponseType,
                    'fa-exclamation' : response.responseType === SoCloseResponseType,
                    'fa-minus-circle' : response.responseType === WayOffResponseType,
                    'fa-star' : response.responseType === CorrectResponseType
                   }"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="werewords-mayor-player-panel-row row" *ngIf="IsMayor && player.active && RoundStarted && !Voting">
            <div class="col-12 werewords-mayor-player-panel-row-col">

              <div class="container">
                <div class="row">
                  <div class="col-2 mayor-panel-button-host">
                    <div>
                      <button class="btn mayor-circle-button werewords-tick"
                              (click)="Tick(player)"
                              [disabled]="DisableButtons">
                        <i class="fas fa-check"></i>
                      </button>
                    </div>
                    <span class="button-description">Yes</span>
                  </div>
                  <div class="col-2 mayor-panel-button-host">
                    <div>
                      <button class="btn mayor-circle-button werewords-cross"
                              (click)="Cross(player)"
                              [disabled]="DisableButtons">
                        <i class="fas fa-times"></i>
                      </button>
                    </div>
                    <span class="button-description">No</span>
                  </div>
                  <div class="col-2 mayor-panel-button-host">
                    <div>
                      <button class="btn mayor-circle-button werewords-question"
                              (click)="Question(player)"
                              [disabled]="DisableButtons">
                        <i class="fas fa-question"></i>
                      </button>
                    </div>
                    <span class="button-description">Maybe</span>
                  </div>
                  <div class="col-2 mayor-panel-button-host" *ngIf="!SoCloseSpent">
                    <div>
                      <button class="btn mayor-circle-button werewords-soclose"
                              (click)="SoClose(player)"
                              [disabled]="DisableButtons">
                        <i class="fas fa-exclamation"></i>
                      </button>
                    </div>
                    <span class="button-description">So Close</span>
                  </div>
                  <div class="col-2 mayor-panel-button-host" *ngIf="!WayOffSpent">
                    <div>
                      <button class="btn mayor-circle-button werewords-wayoff"
                              (click)="WayOff(player)"
                              [disabled]="DisableButtons">
                        <i class="fas fa-minus-circle"></i>
                      </button>
                    </div>
                    <span class="button-description">Way Off</span>
                  </div>
                  <div class="col-2 mayor-panel-button-host">
                    <div>
                      <button class="btn mayor-circle-button werewords-correct"
                              (click)="Correct(player)"
                              [disabled]="DisableButtons">
                        <i class="fas fa-star"></i>
                      </button>
                    </div>
                    <span class="button-description">CORRECT!</span>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="werewords-filler">

  </div>

  <div class="confirm-action" *ngIf="ConfirmSoClose || ConfirmWayOff || ConfirmCorrect">

    <div class="confirm-action-box">

      <div class="confirm-action-icon-host"
           [ngClass]="{
                    'werewords-soclose' : ConfirmSoClose,
                    'werewords-wayoff' : ConfirmWayOff,
                    'werewords-correct' : ConfirmCorrect
                   }">
        <i class="fas" [ngClass]="{
                    'fa-exclamation' : ConfirmSoClose,
                    'fa-minus-circle' : ConfirmWayOff,
                    'fa-star' : ConfirmCorrect
                   }"></i>
      </div>

      <span class="button-description" *ngIf="ConfirmSoClose">So Close</span>
      <span class="button-description" *ngIf="ConfirmWayOff">Way Off</span>
      <span class="button-description" *ngIf="ConfirmCorrect">CORRECT!</span>

      <div *ngIf="ConfirmSoClose || ConfirmWayOff">
        <span>
          You can only give out this token once. <br />Are you sure?
        </span>
      </div>

      <div *ngIf="ConfirmCorrect">
        <span>
          Giving out this token will end the round, and should only be given when the secret word is correctly guessed.<br />Continue?
        </span>
      </div>

      <div>
        <button class="btn btn-primary" (click)="Confirm()">
          Yes
        </button>
      </div>
      <div>
        <button class="btn btn-primary" (click)="CancelConfirm()">
          Cancel
        </button>
      </div>

    </div>

  </div>


</div>
