<div class="loading" *ngIf="Loading && !ErrorMessage">
  I am loading...
</div>
<div>
  <div *ngIf="!Loading">
    <span>{{ActivePlayerName}} is going to be guessing</span>
  </div>
  <div *ngIf="!Loading" class="just-one-important-word">
    <span>{{Word}}</span>
  </div>
  <div *ngIf="!Loading">
    <span>Please remove any clues that are duplicates/invalid</span>
  </div>
  <app-just-one-cluelist-component [clueListComponent]="this"></app-just-one-cluelist-component>
  <div *ngIf="!Loading">
    <button class="btn btn-primary" (click)="SubmitClueVote()">Submit</button>
  </div>
</div>
