<div>
  <table class="player-table">
    <tr *ngFor="let clue of Clues;">
      <td class="player-number-cell">{{clue.playerNumber}}</td>
      <td class="player-name-cell just-one-apply-player-color"
          [ngClass]="PlayerNumberCss.GetClass(clue.playerNumber)">
        {{clue.playerName}}
      </td>
      <td>
        <span class="clue-word" [ngClass]="{
              'clue-invalid' : clue.responseInvalid,
              'clue-valid' : !clue.responseInvalid
            }">
          {{clue.response}}
        </span>
      </td>
      <td>

      <tristate-switch *ngIf="!ReadOnly"                         
                        [TristateSwitchHandler]="ValiditySwitchHandler(clue)" 
                       >
        </tristate-switch>
      </td>
    </tr>
  </table>
</div>
