<div class="loading" *ngIf="Loading && !ErrorMessage">
  I am loading...
</div>
<div *ngIf="!Loading">
  <div>
    <p>
      <span class="just-one-apply-player-color" [ngClass]="PlayerNumberCss.GetClass(ActivePlayerNumber)" >{{ActivePlayerName}}</span> guessed
    </p>
    <p class="just-one-important-word">{{ResponseWord}}</p>
  </div>
  <div>
    <button class="btn btn-primary" (click)="VoteCorrect()">Correct</button>
  </div>
  <div>
    <button class="btn btn-primary" (click)="VoteIncorrect()">Incorrect</button>
  </div>
</div>

<div *ngIf="ErrorMessage" class="alert alert-danger" role="alert">{{ErrorMessage}}</div>
