<div class="loading" *ngIf="Loading && !ErrorMessage">
  I am loading...
</div>
<div *ngIf="!Loading">
  <div>
    <table class="player-table">
      <tr *ngFor="let player of Players;" [ngClass]="{'new-player' : player.playerNumber == 0}">
        <td class="player-number-cell">{{player.playerNumber}}</td>
        <td class="player-name-cell"
            [ngClass]="{
              'player-1' : player.playerNumber == 1,
              'player-2' : player.playerNumber == 2,
              'player-3' : player.playerNumber == 3,
              'player-4' : player.playerNumber == 4,
              'player-5' : player.playerNumber == 5,
              'player-6' : player.playerNumber == 6,
              'player-7' : player.playerNumber == 7
            }">
          {{player.playerName}}
        </td>
        <td>
          <span class="response-given" *ngIf="player.hasTakenAction">
            Tick!
          </span>
          <span class="waiting-for-response" *ngIf="!player.hasTakenAction">
            ...
          </span>
        </td>
      </tr>
    </table>
  </div>
</div>
