<div class="loading" *ngIf="Loading && !ErrorMessage">
  I am loading...
</div>
<div *ngIf="!Loading">
  <div>
    <span [ngClass]="PlayerNumberCss.GetClass(ActivePlayerNumber)" class="just-one-apply-player-color">{{ActivePlayerName}}</span> is the active player
  </div>
  <div>
    Their word is:
  </div>
  <div class="just-one-touch-area"
       (mousedown)="show()" (mouseup)="hide()" (touchstart)="show()" (touchend)="hide()">
    <div class="just-one-touch-internal just-one-important-word">
      {{Word}}
    </div>
  </div>
  <div>
    <p>Your clue:</p>
    <input #clue />
  </div>
  <div>
    <button class="btn btn-primary" [disabled]="DisableSubmitClue" (click)="SubmitClue(clue.value)">Submit</button>
  </div>
</div>
<div *ngIf="ErrorMessage" class="alert alert-danger" role="alert">{{ErrorMessage}}</div>
