
<div *ngIf="ErrorMessage" class="alert alert-danger" role="alert">{{ErrorMessage}}</div>

<form *ngIf="!Loading">
  <div>
    <span>Please enter game identifier</span>
  </div>
  <div>
    <input [(ngModel)]="GameId" name="gameid" />
  </div>
  <div>
    <button class="btn btn-primary" type="submit" (click)="Go()">Create Test Session</button>
  </div>
</form>

<div>
  <ul>
    <li *ngFor="let response of Responses">
      <a [routerLink]="['/werewords/' + GameId, {SessionId: response.sessionId, PlayerId: response.playerId}]">Load Session</a>
    </li>
  </ul>
</div>
